<p>
  {{#if hasSelectedHolidays}}
    You have selected {{selectedHolidayCount}} {{inflection}}: {{selectedHolidayString}}.
  {{else}}
    You have selected {{selectedHolidayCount}} {{inflection}}.
  {{/if}}
</p>
