<ul>
  {{#each controller}}
  <li>
    <button type='button' {{bind-attr class=':btn selected:btn-primary:btn-default'}} {{action "toggleSelected"}}>
      {{name}} ({{date}})
    </button>
  </li>
  {{/each}}
</ul>

{{partial "selectedHolidays"}}
